<h1>{{title}}</h1>


<div class="container">
  <div class="row">
    <form method="POST" action=".">
      <div>
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" id="name">
      </div>
      <div>
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" name="description" id="description">
      </div>
      <div>
        <input type="submit" class="btn btn-primary" value="Create task"></input>
      </div>
    </form>
  </div>
</div>